@using Microsoft.AspNetCore.Identity 

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User)) {
        <li class="navbar-text">
            Hello, @UserManager.GetUserName(User)!
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    } else {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>