@model DoctorFilterVM

<form class="row row-cols-lg-auto g-3 align-items-center" id="doctor-filter-form">
    <div class="form-floating mb-2 col-12">
        <input class="form-control" asp-for="Id" />
        <label asp-for="Id"></label>
    </div>

    <div class="form-floating mb-2 col-12">
        <input class="form-control" asp-for="FullName" />
        <label asp-for="FullName"></label>
    </div>

    <div class="form-floating mb-2 col-12">
        <input class="form-control" asp-for="NationalId" />
        <label asp-for="NationalId"></label>
    </div>

    <!-- Hidden for pagination like Patient -->
    <input type="hidden" asp-for="Page"/>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
