@model DoctorVM

<h1>
    Doctor Details
</h1>

<h5>
  First Name:  @Model.FirstName
</h5>
<h5>
   Last Name: @Model.LastName
</h5>
<h5>
    National ID: @Model.NationalId
</h5>
<p>
    <strong>Hire Date:</strong> @Model.HireDate
</p>

